<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.github.louistsaitszho.erg2000"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
        </activity>
        <activity
            android:name=".activity.AddRecordActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ViewRecordActivity"
            android:label="@string/title_activity_view_record"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.Main2Activity"
                  android:theme="@style/AppTheme.Splash"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>